*::after, ::before{}
    

body
{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header{
    margin: 0;
    margin-bottom: 100px;
    padding: 0;
    width: 100%;
    height: 100vh;
    
    background: url(images/abeilebutine.jpg) no-repeat center center;
    background-size: cover;
    color: #eb7b4c;
}

.wrapper
{
    display: table;
}

.content{
    text-align: center;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    margin: 10px;
    padding: 30px;
}

h1
{
    font-size: 65px;
    background: url(images/abeillevolante.gif);
}
.subtitle{
    font-size: 25px;
    font-weight: bold;
}

#nav 
{
	padding: 20px; 
    margin: 20px;
	text-align: right; /* le texte à droite */
}

#nav li 
{
	display: inline;
	list-style: none;
    
}

#nav a {
    text-decoration: none;
	display:inline-block;
	margin: 0 30px;
    color: #444;
}

#nav a:hover{
    color: 	#4cbceb;
}

#conteneur
{
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding: 100px;
    margin: 80px;
    
}

.image
{
    margin-left: 10px;
    border-radius: 10px;
    
}

.texte h3
{   width: 600px;
    margin: 20px;
    color: #444;
    font-size: 25px;
}

.texte p
{   width: 600px;
    margin: 20px;
    color: #444;
    font-size: 19px;
}

/*fiches*/

#produits
{
    margin: 30px;
    padding: 50px;
    text-align: center;
    width: 400px;
}

.fiche 
{
    border: 1px solid #eb7b4c;
    padding: 30px 30px 60px 30px;
    margin: 10px 30px 30px 60px;
    width: 400px;
    text-align: center;
    display: inline-block;
    border-radius: 10px;
}
    

.fiche img {
    width: 300px;
    
}

.fiche h2 {
    margin-top: 10px;
    
}

.fiche p {
    margin-top: 10px;
}

/* section parallax */

.section-parallax {
    width: 100%;
    height: 350px;
    background: url(images/photoabfixe.avif) no-repeat right / cover fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.txt-par {
    font-size: 30px;
    font-weight: bold;
    margin: 0 50px;
    color: #eb7b4c;

}

.txt-par:hover {
    color: 	#4cbceb;
    cursor: pointer;
}

txt-par:nth-child(1) {
    padding-left: 300px;
}



    


/*contact*/

.contact-info, .horaires, .localisation {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.contact-info h2, .horaires h2, .localisation h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.contact-info p, .horaires p {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}

.localisation iframe {
    width: 100%;
    height: 300px;
    border: none;
}



